.building__cards-container {
    display: flex;
    gap: 20px;
}

@media (max-width: 1440px) {
    .building__cards-container {
        gap: 16px;
    }
}

@media (max-width: 390px) {
    .building__cards-container {
        /* gap: 12px; */
        display: none;
    }
}