.header__menu-link {
    color: white;
    outline: none;
    text-decoration: none;
}

.header__menu-link:hover {
    background-color: #141414;
    border: 1px solid #262626;
    padding: 14px 24px;
    border-radius: 10px;
}

@media (max-width: 1440px) {
    .header__menu-link {
        font-size: 14px;
    }

    .header__menu-link:hover {
        padding: 12px 20px;
    }
}